.title__menu {
    font-family: fw-l;
    color: var(--gray);
}

.title__menu> strong {
    font-family: fw-b;
    color: var(--gray);
}

/* MENU ITEMS*/

.teste1 {
    border: none;
    height: 460px;
    background-image: url(/assets/img/cardapio/esfira__carne.webp);
}

.teste23:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}