.title__menu {
    font-family: fw-l;
    color: var(--gray);
}

.title__menu> strong {
    font-family: fw-b;
    color: var(--gray);
}

/* MENU ITEMS*/

.teste1 {
    border: none;
    height: 460px;
    background-image: url(/assets/img/cardapio/esfira__carne.webp);
}

.card-esfiras {
    /* width: 200px;
    height: 150px; */
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-esfiras:hover  .card-hover {
   opacity: 1;
}
