@import url(/assets/css/cores.css);
@import url(/assets/css/fonts.css);
@import url(/assets/css/cardapio.css);


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: var(--bg-orange);
}

::-webkit-scrollbar-thumb {
   background-color: var(--bg-red);
}

.btn-red-dark {
    background-color: #f0f4f5;
    border: 1px solid black;
}
.btn-red-dark:hover {
    background-color: var(--bg-orange);
    color:white;
    border: 1px solid #f0f4f5;
}

.bg-red {
    background-color: var(--bg-red);
}




